name: Compatibility Tests
on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - master
  pull_request:
    types: [labeled]
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.event_name != 'labeled' || github.event.label.name == 'compatibility-sensitive' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        hazelcast: [ '4.1.9', '4.2.5', '5.0.3', '5.1.3', '5.2-SNAPSHOT' ]
        hibernate: [ '5.3.28.Final', '5.4.33.Final', '5.5.9.Final', '5.6.11.Final', '6.0.2.Final', '6.1.3.Final' ]
    name: Test against HZ ${{ matrix.hazelcast }} and HN ${{ matrix.hibernate }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3.5.1
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Compile with default Hazelcast and Hibernate
        run: mvn compile

      - name: Run tests against HZ ${{ matrix.hazelcast }} and HN ${{ matrix.hibernate }}
        run: mvn verify -Dmaven.main.skip=true -Dhazelcast.version=${{ matrix.hazelcast }} -Dhibernate.core.version=${{ matrix.hibernate }}

  test-jdks:
    if: ${{ github.event_name != 'labeled' || github.event.label.name == 'compatibility-sensitive' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17' ]
    name: Test against JDK ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3.5.1
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Compile with JDK 17
        run: mvn compile

      - name: Setup JDK
        uses: actions/setup-java@v3.5.1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Run tests against JDK ${{ matrix.java }}
        run: JAVA_HOME=${JAVA_HOME_${{ matrix.java }}_x64} mvn verify -Dmaven.main.skip=true

